body, h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.image1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.image2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

.team-section{
    text-align: "right";
    max-width: 800px;
    margin: auto;
    padding-top: 0px;
}
.team-header{
    cursor:pointer;
}
.team-description{
    display:"inline-block";
    text-align: "left";
    padding-top: 20px;
}

ul {
    list-style: "";
    padding-bottom: 25px;
}

li {
    margin: 20px 0;
}

.bottom-buffer {
    padding-bottom: 570px;
}

.top-buffer {
    padding-bottom: 25px;
}
