
body {
    margin: 0;
    padding: 20;
   }
   .App{
    color: black;
    text-align: center;
   }
   .footer {
    position: bottom;
    background-color: #333333;
    width: 100%;
    bottom: 0;
    color: #333333;
    font-size: 25px;
    margin-top: 5%;
    padding: 1%;
   }

   