
/*body {
    background-color: #cccccc;
    background-image: url("file:///C:/Users/claus/Documents/GitHub/SWE_Project1/NewApp/testapp1/src/pages/images/Home_Background.jpg"); 
    background-position: top;
    background-repeat:initial;
    background-size: cover;
    position: relative;
  }*/

img.home {    
    margin: 0;
    opacity:1;
    width: 100%;
    height: auto;
    position:relative;
    top: 0;
    left: 0;
    
}

img.responsive {
  margin-top: 200;
}

