
body{
    background-color: #cccccca4;
  }
h1,h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
img.homebg {    
    margin: 0;
    opacity:1;
    width: 100%;
    height: auto;
    position:static;
    
}

img.responsive {
  margin-top: 200;
}

